<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clj.blesample">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".BMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".operation.OperationActivity" />
        <activity android:name=".operation.ElectricActivity" />
        <activity android:name=".operation.TemperatureActivity" />
        <activity android:name=".operation.ClockActivity" />
        <activity android:name=".operation.ClearHistoryActivity" />
        <activity android:name=".operation.SimpleOperActivity" />
        <activity android:name=".operation.HistoryActivity" />
        <activity android:name=".operation.GetHistoryActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".util.PermissionUtils$PermissionActivity" />
        <activity
            android:name=".ui.history.AddBabyActivity"
            android:theme="@style/custom_dialog" />
        <activity android:name=".ui.history.AddHistoryActivity" />
        <activity android:name=".ui.history.BabyInfoActivity" />
        <activity android:name=".ui.history.AddDetailActivity" />

    </application>

</manifest>